.sidebar-wrapper {
  display:flex;
  flex-direction:column;
  flex: 0 0 12em;
  order: -1;
  background: #292E33;
  min-width: 260px;
  min-height: 100vh;
}

.nav-sidebar {
  li a {
    color: #F4F8FA;
  }

  li a:hover {
    color: #292E33;
    cursor: pointer;
  }

  .tier-1 a {
    font-size: 1.3em;
    color: #666666
  }
  .tier-1 a:hover {
    background: #292E33;
    color: #666666;
    cursor: default;
  }
  .tier-2:hover {
    border-left: 20px solid #F4F8FA;
  }
  .tier-2 {
    border-left: 20px solid #292E33;
  }
  .active {
    background: #292E33;
    color: #666666;
    cursor: default;
  }
}
